<div class="container">
  <h1>Teams</h1>

  <%#<%= link_to 'New team', new_team_path %>

  <table class="table">
    <tr>
      <!-- <th>Name</th> -->
      <!-- <th>Action</th> -->
      <th colspan="3"></th>
    </tr>

    <% @teams.bl_display.has_registered_players.distinct.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'See Players', team_path(team) %></td>
        <%#<%= link_to "Edit", edit_team_path(team) %>
        <%#<%= link_to "Delete", team_path(team),
                method: :delete,
                data: {confirm: 'Are you sure?'}  %>
      </tr>
    <% end %>
  </table>
</div>
