<div class="container">
  <h2>
    <%= @team.name %>
  </h2>
   <%= link_to 'See other teams', teams_path %>

  <%  if policy(@team).update? %>
    <!-- <div> -->
      <!-- <strong>Register a new player:</strong> -->
        <%# <%= render 'players/form' %>
    <!-- </div> -->
    <%= link_to '- Add a player', new_player_path %>
  <% end %>

  <div>
    <h3>Registered Players</h3>
    <ol>
      <%= render @team.players.registered.order(last_name: :asc) %>
    </ol>
  </div>
  <% unless @team.players.unregistered.empty? %>
    <div>
      <h3>Unregistered Players</h3>
      <ol>
        <%= render @team.players.unregistered.order(last_name: :asc) %>
      </ol>
    </div>
  <% end %>
  <%#<%= link_to 'Edit', edit_team_path(@team) %>
</div>
