<div class="container">
  <h2>
    <%= @team.name %>
  </h2>
   <%= link_to 'See other teams', teams_path %>
  <div>
    <ol>
      <%= render @team.players.order(last_name: :asc) %>
    </ol>
    * = registered player
  </div>
  <!-- <h2>Add a player:</h2> -->
    <%#<%= render 'players/form' %>

  <%#<%= link_to 'Edit', edit_team_path(@team) %>
</div>
