
<% if fixture.teams.count == 2 %>

    <tr>
      <th scope="row">  <%= link_to "S#{fixture.season.number} - #{fixture.match_day_number unless fixture.non_league}", fixture_path(fixture) %> <%= " *" if fixture.void %></th>
      <td class="text-left">
          <%= render "team-name", team_fixture: TeamFixture.where(fixture: fixture.id)[0] %>
          <span class="team-score team-score__first"> <%= render "team-score", team_fixture: TeamFixture.where(fixture: fixture.id)[0] %> </span>
      </td>
      <td class="text-left small">
        <%= render "goal-scorers", team_fixture: TeamFixture.where(fixture: fixture.id)[0] %>
      </td>
      <td class="text-center small">
        <% if user_signed_in? && policy(fixture).overdue? %>
            <%= render "referee-input", fixture: fixture %>
        <% elsif user_signed_in? && policy(fixture).add_photos? %>
            <%= render "photographer-input", fixture: fixture %>
        <% else %>
           <%= render "time-location", fixture: fixture %>
        <% end %>
      </td>
      <td class="text-right small">
         <%= render "goal-scorers", team_fixture: TeamFixture.where(fixture: fixture.id)[1] %>
      </td>
      <td class="text-right">
          <span class="team-score team-score__last">  <%= render "team-score", team_fixture: TeamFixture.where(fixture: fixture.id)[1] %> </span>
          <%= render "team-name", team_fixture: TeamFixture.where(fixture: fixture.id)[1] %>
      </td>
    </tr>

<% end %>


